img {
    width: 15%;
}

img.links {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

img.rechts {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

body {
    font-family: 'Verdana', 'Arial', 'serif';
    margin-left: 20%;
    margin-right: 20%;
}
.raf{
    list-style-image: url(/img/RAF_16.png);
    list-style-position: inside;
}
.luft{
    list-style-image: url(/img/Luftwaffe_16.png);
    list-style-position: inside;
}
li{
    margin-left: -40px;
}
